h1 {text-align: center;
    font-size: 40px;
    color: orangered;}


#yellow {
    margin-left: 50px;
      width: 150px;
      height: 100px;
}
#red {
    margin-left: 50px;
      width: 150px;
      height: 100px;
}
#blue {
    margin-left: 50px;
      width: 150px;
      height: 100px;
}
#green {
    margin-left: 350px;
      width: 150px;
      height: 100px;
}
h2 {text-align: center;}
h3 {text-align: center;}

#directions {text-align: center;
            background-color: silver;}

#randomnumber {text-align: center;}

#totalsofar {text-align: center;
             color: orange;}

#stats { text-align: center;
        background-color: silver;}